.m-footer {
  background-color: #EA581C;
  width: 100vw;
  height: 670px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  padding-top: 50px;

  h2 {
    font-size: 35px;
    margin: 0;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 10px;
  }

  &__container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;

    div {
      width: 33%;
      margin: 50px auto 0;
    }
  }

  &__image {
    display: block;
    width: 35%;
    margin: 0 auto;
  }

  &__icon {
    width: 40px;
    margin: 0 10px;
  }
}